@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: #e0e7ef;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 3em;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
}

#head {
    align-items: center;
    justify-content: center;
    display: grid;
    margin: auto;
    gap: 10px;
    text-align: center;
}

#title {
    font-size: 1.5em;
    margin: auto;
}

#subtitle {
    font-size: 1em;
    margin: auto;
}

#box {
    width: 400px;
    height: 550px;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    display: grid;
    margin: auto;
    background-color: transparent;
    box-shadow: 
        -10px -10px 25px #fcfbff,
        10px 10px 25px #b6bac3;
    border-radius: 30px;
}

#circle {
    background-color: transparent;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 110px;
    height: 110px;
    border-radius: 100px;
    display: flex;
    box-shadow:
        inset 4px 4px 10px #b6bac3,
        inset -4px -4px 10px #fcfbff,
        5px 5px 2px #b6bac3;
    transition: all 300ms;
}

#circle:hover {
    border-radius: 30px;
    transition: all 300ms;
}

#profile {
    width: 100px;
    border-radius: 100px;
    transition: all 300ms;
}

#profile:hover {
    border-radius: 30px;
    transition: all 300ms;
}

#icons img{
    width: 12px;
}

form {
    align-items: center;
    justify-content: center;
    display: grid;
    gap: 25px;
}

input {
    background-color: transparent;
    width: 250px;
    height: 40px;
    border: 1px solid transparent;
    box-shadow:
        3px 3px 7px #b6bac3,
        -3px -3px 7px #fcfbff;
    border-radius: 10px;
    padding-left: 2em;
    font-size: .8em;
    color: gray;
    transition: all 300ms;
}

input:hover{
    box-shadow:
        inset 3px 3px 7px #b6bac3,
        inset -3px -3px 7px #fcfbff,
        3px 3px 7px #fcfbff,
        -3px -3px 7px #b6bac3;
    transition: all 300ms;
    border: 0;
}

input:focus{
    box-shadow:
        inset 3px 3px 7px #b6bac3,
        inset -3px -3px 7px #fcfbff,
        3px 3px 7px #fcfbff,
        -3px -3px 7px #b6bac3;
    border: 0;
    transition: all 300ms;
    outline: 0;
}

#usericon {
    transform: translate(-115px, 30px);
    opacity: 0.7;
}

#passicon {
    transform: translate(-130px, 98px);
    opacity: 0.7;
}

#inputs {
    margin: auto;
    text-align: center;
    transform: translateY(-40px);
}

#submit {
    transform: translateY(40px);
    background-color: transparent;
    border: 1px solid transparent;
    height: 40px;
    border-radius: 100px;
    color: #00adc8;
    font-size: 1em;
    font-weight: bold;
    box-shadow:
        inset 1px 1px 1px #fbfeff,
        inset -1px -1px 1px #b6bac3, 
        1px 1px 1px #fbfeff,
        -1px -1px 1px #b6bac3;
    cursor: pointer;
    transition: all 300ms;
}

#submit:hover {
    box-shadow:
        inset 2px 2px 5px #b6bac3,
        inset -2px -2px 5px #fcfbff,
        2px 2px 5px #fcfbff,
        -2px -2px 5px #b6bac3;
    font-size: .9em;
    border: 0;
    transition: all 300ms;
}

#submit:active {
    box-shadow:
        inset 3px 3px 10px #b6bac3,
        inset -3px -3px 10px #fcfbff,
        3px 3px 10px #fcfbff,
        -3px -3px 10px #b6bac3;
    font-size: .8em;
    border: 0;
    transition: all 300ms;
}

#forgot {
    cursor: pointer;
    margin: auto;
    transform: translateY(30px);
}

#heart {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    display: flex;
    margin: auto;
    transform: translateY(50px);
    background-color: transparent;
    width: 200px;
    height: 20px;
    border-radius: 10px;
    box-shadow:
        3px 3px 7px #b6bac3,
        -3px -3px 7px #fcfbff;
    #cora {
        transition: all 200ms;
    }

}

#heart:hover {
    #cora {
        background-color: transparent;
        font-size: 1.1em;
        transition: all 200ms;
    }
}

#heart h2 {
    margin: auto;
    font-size: .8em;
    cursor: pointer;
    background-color: transparent;
}

.label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #394a56;
    transform: translate(-50px, -90px);
    font-size: .8em;
  }
  
  .label-text {
    margin-left: .5em;
  }
  
  .toggle {
    isolation: isolate;
    position: relative;
    height: 20px;
    width: 40px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow:
      -8px -4px 8px 0px #ffffff,
      8px 4px 12px 0px #d1d9e6,
      4px 4px 4px 0px #d1d9e6 inset,
      -4px -4px 4px 0px #ffffff inset;
  }
  
  .toggle-state {
    display: none;
  }
  
  .indicator {
    height: 100%;
    width: 200%;
    background: #ecf0f3;
    border-radius: 15px;
    transform: translate3d(-75%, 0, 0);
    transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
    box-shadow:
      -8px -4px 8px 0px #ffffff,
      8px 4px 12px 0px #d1d9e6;
  }
  
  .toggle-state:checked ~ .indicator {
    transform: translate3d(25%, 0, 0);
    background-color: #00adc841;
  }